body, html{
    height:100%;
    margin-right: 5px;
  }

  .block{
    padding:.25rem 0;
    margin:.25rem 0;
    background: red;
    border:1px solid #111;
    border-radius: 0px;
  }
  button{
    background: gray:
    color:#333;
    border-radius: 3px;
    border:1px solid #ccc;
    margin:.25rem;
  }
  .pictures{
  
  }
  .controls{
    margin-top: -3px;
  }
  .main-container {
    height: 100%;
    margin: -10px;
    
  }
  .temp-box1 {
    background: blue;
    height: 10%;
    text-align: center;
  }
  .temp-box2 {
    background: yellow;
    height: 73%;
    text-align: center;
  }
  .temp-box3 {
    background: green;
    height: 6%;
    text-align: center;
  }
  .temp-box4 {
    background: red;
    height: 11%;
    text-align: center;
  }